
*{
    /* border: solid 1px #000; */
}
/* alinea los dos cuadraditos en la pagina */
.row{ 
    text-align: center;
}

.column{ 
    /* los cuadritos queda en una sola linea */
    display: inline-block; 
    vertical-align: middle;
    text-align: left;
    border-style: ridge;
    width: 24%;
}
.card{
    /* centra todo lo del cuadro, pero yo solo quiero centra la imagen */
    text-align: center;
    background-color: #D4F0F0;
}
.container .title{
    color: rgb(0,0,0, 0.5);
}
.container{
    /* desalinea el texto y solo queda la imagen centrada y el texto a la izquierda */
    text-align: left;
    margin: auto ; 
    margin-bottom: 0px;
}

.button {
    /* centra el boton */
    margin:auto ;
    display:block;
    /* ** */
    background-color:rgb(0,0,0);
    /* hace el boton al ancho */
    width: 100%;
    border: 0;
    /* redondear boton */    
    border-radius: 3px;
    color: white;
    /* que salga la manita */
    cursor: pointer;
    font-size: 12px; 
    padding: 0;
    height: 20px;
    
}

p{
    margin-bottom: 3px;
}
/* quitar lineado del link */
a{
    text-decoration: none;
}
