
*{
    /* border: solid 1px #000; */
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin: 0px;
    padding: 0;
    background-image: url(img_reto_extra_4/pexels-mudassir-ali-2680270.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200%;
}

/* header ************* */
header{
    background-color:rgb(0,0,0, 0.2);
}

.menu_items ul{
    list-style: none;
    margin-top: 0px;
}
.menu_items ul li{
    display: inline-block;
    margin:0 70px 0 0;
    vertical-align: middle;
    border-style: solid;
    border-color: #D4F0F0;
    border-width: 1px;
    border-radius: 3px;
}

.menu_items ul li a{
    color: black;
    text-decoration: none;
}

.menu_items ul .logo153{
    margin-right: 4%;
    margin-left: 0px;
    border-style: none;
}




/* quienes somos ************* */
/* alinea los dos cuadraditos en la pagina */
#team{
    margin-left: 1%;
    margin-right: 1%;
}
.row{ 
    text-align: center;
}

.column{ 
    /* los cuadritos queda en una sola linea */
    display: inline-block; 
    vertical-align: middle;
    text-align: left;
    border-style: ridge;
    width: 24%;
}
.card{
    /* centra todo lo del cuadro, pero yo solo quiero centra la imagen */
    text-align: center;
    /* background-color: #D4F0F0; */
    margin-left: 2%;
    margin-right: 2%;
}
.container .title{
    color: rgb(0,0,0, 0.5);
}
.container{
    /* desalinea el texto y solo queda la imagen centrada y el texto a la izquierda */
    text-align: left;
    margin: auto ; 
    margin-bottom: 0px;
}

.button {
    /* centra el boton */
    margin:auto ;
    display:block;
    /* ** */
    background-color:rgb(0,0,0);
    /* hace el boton al ancho */
    width: 100%;
    border: 0;
    /* redondear boton */    
    border-radius: 3px;
    color: white;
    /* que salga la manita */
    cursor: pointer;
    font-size: 12px; 
    padding: 0;
    height: 20px;
    
}

p{
    margin-bottom: 3px;
}
/* quitar lineado del link */
a{
    text-decoration: none;
}
